/* movil */
@media only screen and (max-width: 498px) {
    .nosotros{
        padding: 10px;
        div{
            img{
                height: 200px;
            }
            p{
                font-size: small;
                padding: 10px;
            }
        }
    }
    .recetas{
        padding: 10px;
        div{
            padding: 0;
            img{
                height: 150px;
                padding-top: 20px;
            }
            p{
                padding: 10px;
                font-size: small;
            }
        }
    }
    .inicio{
        padding: 10px;
        img{
            height: 150px;
        }
        p{
            padding: 10px;
            font-size: small;
        }
    }
    .primera-parte{
        padding: 10px;
        img{
            height: 200px;
        }
        p{
            font-size: small;
            padding: 10px;
        }
    }
    .segunda-parte{
        padding: 20px;
        font-size: small;
    }
    footer{
        height: 100px;
        h4{
            font-size: medium;
            padding-top: 30px;
            padding-left: 30px;
            padding-bottom: 0;
        }
    }
}

/* tablet */
@media only screen and (max-width: 960px) {
    .nosotros{
        div{
            img{
                padding-top: 40px;
            }
        }
    }
    .recetas{
        div{
            img{
                padding-top: 40px;
            }
        }
    }
    .inicio{
        img{
            padding-top: 40px;
            padding-left: 20px;
        }
    }
    .primera-parte{
        img{
            padding-top: 70px;
        }
    }
}