header{
    position: sticky;
    top: 0;
}
.color-navbar{
    background-color: $color-secundario;
    
}
.container-fluid{
    background-color: $color-secundario; 
      
}
.color{
    color: $color-texto;
}